.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
}

.login-form__heading {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size:24px;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}

.register__button-submit {
    text-decoration: none;
    color: #338fd6;
}

.register__button-submit:hover {
    text-decoration: underline;
}
