.profile-form__content {
    margin: 0 auto;
}

.profile-form__heading {
    text-align: center;
    margin-bottom:30px;
    font-size: 24px;
}

.profile-header {
    max-width: 1017px;
    margin: 0 auto;
    padding: 60px 60px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-header h2 {
    width: 300px;
    margin-left: 100px;
    margin-right: 50px;
    font-size: 24px;
    font-weight: bold;
}

.profile-avatar {
    margin: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__image-area {
    text-align: center;
    width: 100%;
}

.profile__image-area .form__group-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.profile__image-preview {
    margin-bottom: 30px;
}

.edit__button {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 10px;
    text-decoration: none;
    color: #ff5655;
    border: 2px solid #ff5655;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.edit__button:hover {
    background: #f3f4f6;
    border-color: #ff5655;
}